<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr class="">
        <td class="hora">Hora</td>
        <th id="lun">Lun</th>
        <th id="mar">Mar</th>
        <th>Mie</th>
        <th>Jue</th>
        <th>Vie</th>
        <th>Sab</th>
      </tr>
    </thead>
    <tbody *ngIf="classes">
      <tr *ngFor="let t of sched; let i=index; let last = last">
        <td>{{times[i]}}</td>
        <td *ngFor="let d of t; let j=index" [ngClass]="{mk: d==1, mkh:d==0.5, mkhf: d==0.55}"></td>
      </tr>
    </tbody>
    <tbody *ngIf="!classes">
      <tr *ngFor="let t of sched; let i=index; let last = last">
        <td>{{times[i]}}</td>
        <td *ngFor="let d of t; let j=index" (click)="addTimes(days[j], i)" [ngClass]="{mk: d==1, mkh:d==0.5, mkhf: d==0.55}"></td>
      </tr>
    </tbody>
  </table>
</div>
