<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <td *ngFor="let title of tHead">{{ title }}</td>
      </tr>
    </thead>
    <tbody *ngIf="readonly">
      <tr *ngFor="let time of cells[0]; let i = index">
        <td>{{ nTime(i) }}</td>
        <td *ngFor="let day of cells">0</td>
      </tr>
    </tbody>
    <tbody *ngIf="!readonly">
      <tr *ngFor="let time of cells[0]; let j = index">
        <td>{{ nTime(j) }}</td>
        <td *ngFor="let day of cells; let i = index" (click)="onCellClick(i, j)">{{ cells[i][j] }}</td>
      </tr>
    </tbody>
  </table>
</div>
