<div class="row">
  <div class="col-4 mt-2">
    <h2>Reservar Salón</h2>

    <div *ngIf="msg" class="alert alert-dismissible alert-success">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>{{ msg }}</strong>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="teacher_id" class="form-label mt-2">Docente: </label>
        <select
          class="form-select"
          id="teacher_id"
          formControlName="teacher_id"
        >
          <option *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="room_id" class="form-label mt-2">Aula: </label>
        <select class="form-select" id="room_id" formControlName="room_id" (change)='onRoomChange($event)'>
          <option *ngFor="let room of rooms" value="{{room.id}}">{{room.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="room_id" class="form-label mt-2">Curso: </label>
        <select class="form-select" id="course_id" formControlName="course_id">
          <option *ngFor="let course of courses" value="{{course.id}}">{{course.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="start_date" class="form-label mt-2">Desde: </label>
        <input
          id="start_date"
          type="date"
          class="form-control"
          formControlName="start_date"
          (change)='onDateChange()'
        />
      </div>

      <div class="form-group">
        <label for="end_date" class="form-label mt-2">Hasta: </label>
        <input
          id="end_date"
          type="date"
          class="form-control"
          formControlName="end_date"
          (change)='onDateChange()'
        />
      </div>

      <div class="mt-2">
        <button
          type="submit"
          class="btn btn-primary mb-3"
          [disabled]="!form.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>

  <div class="col-8 mt-5">
    <!-- <app-schedule (notify)="setTimes($event)" [classes]="[{teacher_id:5,room_id:5,course_id:3,start_date:null,end_date:null,class_days: []}]"></app-schedule> -->
    <!-- <app-schedule (notify)="setSessions($event)" [schedules]="schedules"></app-schedule> -->
    <!-- <app-schedule (notify)="setSessions($event)" [schedules]="schedules"></app-schedule> -->

    <app-schedule (notify)="setSessions($event)" [schedules]="classes | classToSchedule | async"></app-schedule>

  </div>
</div>
