<div class="row">
  <div class="col-5 mt-4">
    <h2>Editar Curso</h2>
    <div
      *ngIf="msg"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      <strong>{{ msg }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <form [formGroup]="formCourse" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name" class="form-label mt-1">Name</label>
        <input
          type="text"
          [(ngModel)]="course.name"
          class="form-control"
          id="name"
          formControlName="name"
          required
        />
      </div>
      <div class="mt-2">
        <button
          type="submit"
          class="btn btn-primary mb-3"
          [disabled]="!formCourse.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
